html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    background-color: #8483C1;
    font-family: 'Kanit', sans-serif;
}
.navbar{
    background-color: #312F84;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 2;
    font-weight: bold;
}
a {
    font-size: 22px;
    display: block;
    color: white;
    padding: 29px;
    text-decoration: none;
    height: fit-content;
  }
  a:hover {
    background-color: #484799;
    color: white;
  }
header{
    color: white;
    text-align: center;
    margin-top: 30px;
    width: auto;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6463AD;
    z-index: 2;
}
.btn{
    width: 20%;
    height: 200px;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 24px;
    background-color: #312F84;
    color: azure;
    border-style: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-weight: bold;
}
.boxbtn{
    text-align: center;
}
.head{
    z-index: 0;
    font-size: 100px;
    text-shadow: 5px 4px 2px rgba(100, 99, 173, 1);
}
.bigbox1,.bigbox2{
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: #8483C1;
}
.bigbox3{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bigbox1{
    display: flex;
}
.bigbox2{
    display: none;
}
.smallbox,.smallboxref{
    width: 70%;
    background-color: #D5D5ED;
    padding: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-radius: 20px;
    color: #030232;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 1;
}
.smallboxref a{
    color: #030232;
    font-size: 24px;
}
.smallboxref a:hover{
    color: white;
    font-size: 24px;
    border-radius: 20px;
}
.codebox{
    background-color: #E3E3F3;
    padding: 10px;
    border-radius: 20px;
}
li{
    padding: 10px;
}
.codeex{
    border-radius: 10px;
    width: auto;
    max-height: 170px;
}
.big{
    max-height: 400px;
}
.tagex{
    width: auto;
    max-height: 120px;
}
.fox{
    max-height: 300px;
}
.ghost{
    width: fit-content;
    background-color: #312F84;
    position: relative;
    right: 100px;
    color: white;
    padding: 7px;
    border-radius: 10px;
    text-shadow: 5px 4px 2px rgba(100, 99, 173, 1);
}
.smallghost{
    width: fit-content;
    background-color: #6463AD;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
img{
    border-radius: 10px;
}
table, th, td{
    border: 2px solid;
    border-color: #312F84;
    border-collapse: collapse;
    padding: 5px;
}
.whale{
    position: absolute;
    z-index: 0;
}
.beluga{
    position: absolute;
    width: auto;
    height: 200px;
    right: 100px;
    top: -35px;
}
.whale{
    animation-name: whale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.beluga{
    animation-name: beluga;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes whale{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}
@keyframes beluga{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
} 